.gradient-background {
  background: linear-gradient(300deg, #283b7d, #283b7d, #5e609d);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bcolor {
  background: linear-gradient(#283b7d, #283b7d, #5e609d);
}

.image-pfp {
  border-radius: 50%;
}

.body-text {
  font-family: "Merriweather", serif;
  color: antiquewhite;
}

.purple {
  font-family: "Sacramento", cursive;
  color: rgb(195, 132, 255);
  font-size: 46px;
}

.nav-link:hover {
  color: rgb(195, 132, 255);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-title {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Sacramento", cursive;
  color: antiquewhite;
  font-size: 55px;
  white-space: nowrap;
}
.overlay-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #afb0ce;
  font-size: 30px;
  white-space: nowrap;
}
.container {
  text-align: center;
}
